@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/opensans-webfont.eot');
    src: url('../fonts/opensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-webfont.woff2') format('woff2'),
         url('../fonts/opensans-webfont.woff') format('woff'),
         url('../fonts/opensans-webfont.ttf') format('truetype'),
         url('../fonts/opensans-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/opensansextrabold-webfont.eot');
    src: url('../fonts/opensansextrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensansextrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensansextrabold-webfont.woff') format('woff'),
         url('../fonts/opensansextrabold-webfont.ttf') format('truetype'),
         url('../fonts/opensansextrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: 800;
    font-style: normal;

}


@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/opensanslight-webfont.eot');
    src: url('../fonts/opensanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanslight-webfont.woff2') format('woff2'),
         url('../fonts/opensanslight-webfont.woff') format('woff'),
         url('../fonts/opensanslight-webfont.ttf') format('truetype'),
         url('../fonts/opensanslight-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;

}


@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/opensanssemibold-webfont.eot');
    src: url('../fonts/opensanssemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanssemibold-webfont.woff2') format('woff2'),
         url('../fonts/opensanssemibold-webfont.woff') format('woff'),
         url('../fonts/opensanssemibold-webfont.ttf') format('truetype'),
         url('../fonts/opensanssemibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 500;
    font-style: normal;

}